/* src/design/Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.site-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-right: 6.5%;
}

.nav-links {
  display: flex;
  align-items: center; /* Ensures items are vertically aligned */
  gap: 1.5rem; /* Adds space between links */
  margin-left: 4rem;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #fff;
}

/* Specific styling for List a Product button */
.list-product-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  background-color: #4680007c;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

.list-product-button:hover {
  background-color: #529400;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-buttons .btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #444;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.auth-buttons .btn:hover {
  background-color: #555;
}

/* Logout button: */
.logout-btn {
  background-color: #f53029;
  color: #fff;
  padding: 0.5rem 0.6rem;
  border-radius: 10px; /* Rounded edges */
  font-size: 0.85rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #c9302c; /* Darker shade for hover */
}

.auth-buttons .logout-btn {
  margin-left: 0.7rem;
}

/* Cart Button */
.cart-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.7rem; /* Adjust padding for a smaller size ; */
}

.cart-btn .cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #d9534f;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}

.cart-btn .btn:hover {
  background-color: #555;
}
